<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevsDNA.GradientBoxView" version="1.0.1" targetFramework="xamarinios10" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="xamarinios10" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="UXDivers.GorillaPlayer.SDK.AutoConfig" version="1.5.0-Beta4" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinios10" />
</packages>